<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="iotWater">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular IoT App</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#iot-list 				{ margin-bottom:30px; }
		#iot-form 	 			{ margin-bottom:50px; }
	</style>

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
	<script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS WITH INITIALIZE FUNCTION -->
<body ng-controller="mainController">
	<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>IoT Messages<span class="label label-info">{{ todos.length }}</span></h1>
		</div>

		<!-- TODO LIST -->
		<div id="iot-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<!-- LOOP OVER THE TODOS IN $scope.todos -->
				<div class="table">
						<table border="1">
						<thead>
						    <th>HouseID</th>
						    <th>Usage Volume</th>
						    <th>Timestamp</th>
						    <th>Crossed Threshold</th>
						</thead>
						<tr ng-click="deleteTodo(todo._id)" ng-repeat="todo in todos">
						<td>{{ todo.houseid }}</td>
						<td>{{ todo.usagevol }}</td>
						<td>{{ todo.Timestamp }}</td>
						<td>{{ todo.thresholdcrossed }}</td></tr>
						</table>
				</div>


			</div>
		</div>

		<!-- FORM TO CREATE TODOS -->
		<div id="iot-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="Send a message here..." ng-model="formData.text">
					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
				</form>
			</div>
		</div>

		<div class="text-center text-muted">
			<p>A demo by <a href="http://atos-syntel.net">Atos | Syntel</a>.</p>
			<p>Check the  <a href="https://git.atosone.com/hemachandran.baskar/nodejs/">Git</a>.</p>
		</div>

	</div>

</body>
</html>